In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/articles.csv", encoding = 'latin1')
print(data.head())

                                             Article  \
0  Data analysis is the process of inspecting and...
1  The performance of a machine learning algorith...
2  You must have seen the news divided into categ...
3  When there are only two classes in a classific...
4  The Multinomial Naive Bayes is one of the vari...

                                               Title
0                  Best Books to Learn Data Analysis
1         Assumptions of Machine Learning Algorithms
2          News Classification with Machine Learning
3  Multiclass Classification Algorithms in Machin...
4        Multinomial Naive Bayes in Machine Learning

In [4]:
data["Number of Words"] = data["Article"].apply(lambda n: len(n.split()))
data.head()

,Article,Title,Number of Words
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis,76
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms,56
2,You must have seen the news divided into categ...,News Classification with Machine Learning,70
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...,66
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning,96