# Write a Python factorial program without using if-else, for, and ternary operators.

In [2]:
import math

In [3]:
def factorial(num):
    return (math.factorial(num))

In [4]:
num = int(input("Enter a number: "))
print("The factorial of",num,"is",factorial(num))

Enter a number: 6
The factorial of 6 is 720

#  Write a Python program to calculate the square root of a given number.

In [5]:
n = float(input("Enter a number: "))

squareroot_num = n**0.5

print("Square root of",n, "is",squareroot_num)

Enter a number: 16
Square root of 16.0 is 4.0

# Write a Python program to calculate the area of a triangle.

In [6]:
a = float(input("Enter first side value: "))
b = float(input("Enter second side value: "))
c = float(input("Enter third side value: "))

s = (a+b+c)/2

Area = (s*(s-a)*(s-b)*(s-c))**0.5

print("The Area of triangle is",Area)

Enter first side value: 5
Enter second side value: 6
Enter third side value: 7
The Area of triangle is 14.696938456699069

# Write a Python program to check leap year.

In [8]:
def LeapYear(Year):
    
    if ((Year%400 == 0) or (Year%100 != 0) and (Year%4 == 0)):
        print("the given year is leap year")
    else:
        print("not a leap year")

In [9]:
Year = int(input("Enter a year: "))
LeapYear(Year)

Enter a year: 2016
the given year is leap year

# Write a Python program to display a multiplication table using for loop.

In [10]:
tab_number = int(input("Enter a number: "))

print("The multiplication table of:", tab_number)

for count in range(1,11):
    print(tab_number, 'x', count, '=', tab_number*count)

Enter a number: 5
The multiplication table of: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Write a Python program to swap two variables.

In [11]:
num1 = input("Enter the first variable: ")
num2 = input("Enter the second variable: ")

print("the value of num1 before swapping: {}".format(num1))
print("the value of num2 before swapping: {}".format(num2))

temp = num1
num1=num2
num2 = temp

print("The value of num1 after swapping: {}".format(num1))
print("The value of num2 after swapping: {}".format(num2))

Enter the first variable: 6
Enter the second variable: 7
the value of num1 before swapping: 6
the value of num2 before swapping: 7
The value of num1 after swapping: 7
The value of num2 after swapping: 6

# Write a Python program to check if a given number is a Fibonacci number or not.

In [12]:
fib_nums = [0,1]

number = int(input("Enter the number: "))

while fib_nums[-1] <= number:
    fib_nums.append(fib_nums[-1] + fib_nums[-2])

if number in fib_nums:
    print(f"Yes. {number} is a fibonacci number.")
else:
    print(f"No. {number} is not a fibonacci number.")

Enter the number: 6
No. 6 is not a fibonacci number.

# Write a Python program to find the area of a circle.

In [14]:
def circ_Area(radius):
    
    PI = 3.142
    return (PI*radius*radius);

radius = float(input("Enter the value of radius: "))
print("The area of circle is", circ_Area(radius))

Enter the value of radius: 4
The area of circle is 50.272

# Write a Python program to print all prime numbers in an interval.

In [9]:
# Python program to print all prime number in an interval

def disp_Prime(num1, num2):
	prime_List = []
	for i in range(num1, num2):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_List.append(i)
	return prime_List

# Driver program
starting_Num = int(input('Enter the starting range: '))
ending_Num = int(input('Enter the ending range: '))
lst = disp_Prime(starting_Num, ending_Num)
if len(lst) == 0:
	print("There are no prime numbers in this range")
else:
	print("The prime numbers in the given range are: ", lst)

Enter the starting range: 5
Enter the ending range: 25
The prime numbers in the given range are:  [5, 7, 11, 13, 17, 19, 23]

# Write a Python Program to Find Vowels From a String.

In [11]:
def get_vowels(string):
    return [each for each in string if each in "aeiou"]

get_string1 = "hello"
get_string2 = "python is fun"
get_string3 = "coding compiler"
get_string4 = "12345xyz"

print("the vowels are: ", get_vowels(get_string1))
print("the vowels are: ", get_vowels(get_string2))
print("the vowels are: ", get_vowels(get_string3))
print("the vowels are: ", get_vowels(get_string4))

the vowels are:  ['e', 'o']
the vowels are:  ['o', 'i', 'u']
the vowels are:  ['o', 'i', 'o', 'i', 'e']
the vowels are:  []

# Write a Python Program to Convert Comma Separated List to a String.

In [12]:
favorite_prog = ["Python","SQL","GO"]

print("What is your favourite programming language: ",", ".join(favorite_prog))

What is your favourite programming language:  Python, SQL, GO

# Write a Python Program to Capitalize the First Letter of a String.

In [13]:
def capitalize(String):
    return String.title()

get_capital1 = "hello"
get_capital2 = "python programming"
get_capital3 = "python is easy to learn"

print("The capitalized string is: ", capitalize(get_capital1))
print("The capitalized string is: ", capitalize(get_capital2))
print("The capitalized string is: ", capitalize(get_capital3))

The capitalized string is:  Hello
The capitalized string is:  Python Programming
The capitalized string is:  Python Is Easy To Learn

# Write a Python Program to Implicit Type Conversion.

In [14]:
get_num1 = 199
get_num2 = 1.25
get_num3 = get_num1 + get_num2

print("Datatype of get_num1:", type(get_num1))
print("Datatype of get_num2:", type(get_num2))
print("Datatype of get_num3:", type(get_num3))

Datatype of get_num1: <class 'int'>
Datatype of get_num2: <class 'float'>
Datatype of get_num3: <class 'float'>

# What’s the Output of this Python program?

In [15]:
num1 = 123
num2 = "456"

print("Datatype of num_int: ", type(num1))
print("Datatype of num_str: ", type(num2))
print("Datatype: ", type(num1 + num2))

Datatype of num_int:  <class 'int'>
Datatype of num_str:  <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Write a Python Program to Explicit Type Conversion.

In [16]:
num1 = 123
num2 = "456"

print("Datatype of num1: ", type(num1))
print("Datatype of num2: ", type(num2))

num2 = int(num2)
print("Datatype of num2 after typecasting:", type(num2))

num3 = num1+num2

print("Sum of num1 and num2:", num3)
print("Datatype of num3:", type(num3))

Datatype of num1:  <class 'int'>
Datatype of num2:  <class 'str'>
Datatype of num2 after typecasting: <class 'int'>
Sum of num1 and num2: 579
Datatype of num3: <class 'int'>

# What’s the Output of this Python Namespace program?

In [1]:
def outer_function():
    num = 20
    
    def inner_function():
        num = 30
        print('num=', num)
    
    inner_function()
    print('num=', num)
    
num=10
outer_function()
print('num=', num)

num= 30
num= 20
num= 10

# Python Namespace Program.

In [2]:
def outer_function():
    global num
    num = 20
    
    def inner_function():
        global num
        num=30
        print('num=', num)
        
    inner_function()
    print('num=', num)
    
num =10
outer_function()
print('num=', num)

num= 30
num= 30
num= 30