In [2]:
import pandas as pd
data = {"Name":["Aman","Khushi","Renu"], "Id":[1, 2, 3]}
data = pd.DataFrame(data)
data.head()

     Name  Id
0    Aman   1
1  Khushi   2
2    Renu   3

In [3]:
data.to_csv("kk.csv")

In [4]:
data1 =pd.read_csv("kk.csv")

In [5]:
data1.head()

   Unnamed: 0    Name  Id
0           0    Aman   1
1           1  Khushi   2
2           2    Renu   3